<!DOCTYPE html>
<html lang="en" data-theme="garden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fork Bomb Detection System</title>
    <link
      href="{{ url_for('static', filename='css/output.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/animation.css') }}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-jetbrains">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Fork Bomb Detection System</h1>
          <p class="py-6">
            Protect your system from malicious fork bombs with our advanced
            detection system.
          </p>
          <a href="/info" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <footer class="bg-black text-white p-8 mt-auto">
      <div class="container mx-auto">
        <h2 class="text-2xl font-bold mb-4 text-center">About Us</h2>
        <div class="overflow-x-auto">
          <table class="table w-full max-w-2xl mx-auto">
            <thead>
              <tr class="text-white">
                <th>USN</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-white">
                <td>1RVU23CSE072</td>
                <td>Apoorv Gadiya</td>
              </tr>
              <tr class="text-white">
                <td>1RVU23CSE160</td>
                <td>G Lakshmi Anugnya</td>
              </tr>
              <tr class="text-white">
                <td>1RVU23CSE244</td>
                <td>Maanya Praveen</td>
              </tr>
              <tr class="text-white">
                <td>1RVU23CSE413</td>
                <td>Satyam Goyal</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </footer>
  </body>
</html>
